@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root{
  --red:#ED3729;
  --transition: all .3s ease-in-out;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
 
}

input,select,button{
  outline: none;
}
a{
  text-decoration: none;
  
}
ul{
list-style: none;
}

button{
  cursor: pointer;
  
}

